# Ignore node_modules in both folders
spotify-tracker-backend/node_modules/
spotify-tracker-frontend/node_modules/

# Common ignore patterns
*.log
.env
.env.local

# Build output
spotify-tracker-frontend/.next/
spotify-tracker-backend/dist/
